config/nvim/UltiSnips/*local.snippets
config/nvim/snippets/*local.lua
config/nvim/snippets/*local.json
config/vifm/scripts/README
config/vifm/vifm-help.txt
config/vifm/vifminfo
config/vifm/vifminfo.json

sage/cache
sage/db
sage/temp

zsh/local.zsh
